<h1> Range of products </h1>

<%= link_to 'Add a product', new_product_path %>

<h1> Stock list </h1>
<%= link_to "Add stock", new_stock_path %>

<h1> Customer list </h1>
<%= link_to 'Customer List', user_customers_path(current_user) %>
