<h1>Stock Update for <%= DateTime.now.to_date %> </h1>

<p>
  <%= @greeting %>, <br />
  <%= @user.email %> has updated their stock, go buy stuff! <br />
  <% @user.stock.products.each do |product|%>
    <%= product.name %> <br />
  <% end %>


</p>
